<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <ol>
        {% for phrase, replacement in words %}
            {% if phrase in text %}
                <li><p>MATCHED: {{ phrase }}</p>
                    <p>REPLACE WITH: {{ replacement }}</p>
                    <p>Replace "relevant time" with "time of specification" - Level 4</p></li>
            {% endif %}
        {% endfor %}
        </ol>
    </body>
    <pre>
        <h4>{{ text }}</h4>
    </pre>
</html>