<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <ol>
        {% if word1 in text %}    
            <li><p>Replace "relevant time" with "time of specification" - Level 4</p></li>
        {% endif %}


        {% if word2 in text %}    
            <li><p>Delete "good building practice" - Level 4</p></li>
        {% endif %}        

        
        {% if word3 in text %}
            <li><p>Delete "having been supplied or placed on the market in breach of the 
                   Construction Products Regulations" - Level 4</p></li>
        {% endif %}
        
        
        {% if word4 in text %}
            <li><p>Delete "all" before "reasonable skill" - Level 4</p></li>
        {% endif %}
    

        {% if word5 in text %}
                <li><p>Replace "Consulant's profession" with woriding which best describes the 
                       duties you undertake under this appointment - Level 4</p></li>
        {% endif %}
       

        {% if word6 in text %}
                <li><p>Delete "successors"</p></li>
        {% endif %}
    
        
        {% if word7 in text %}
                <li><p>Replace "warrants" with "undertakes" - Level 1, is not subject to reasonable 
                       skill and care</p></li>
        {% endif %}


        {% if word8 in text %}
                <li><p>Insert "excersised it will excersise reasonable skill and care to see that"
                       before "complied" - Level 1 </p></li>
        {% endif %}
        

        {% if word9 in text %}
                <li><p>Delete "or use" after "specification - Level 2</p></li>
        {% endif %}


        {% if word10 in text %}
                <li><p>Delete "and ensure the completed Project complies with" - Level 4,
                       if subject to reasonable skill and care</p></li>
        {% endif %}


        {% if word11 in text %}
                <li><p>Replace "ensure" with "use all the reasonable endeavours to see" - 
                       Level4, if subject to reasonable skill and care</p></li>
        {% endif %}


        {% if word12 in text %}
                <li><p>Replace the specified clause with "this agreement"</p></li>
        {% endif %}


        {% if word13 in text %}
                <li><p>Replace "duties or liabilities" with "duty of care"</p></li>
        {% endif %}


        {% if word14 in text %}
                <li><p>In the "Professional indemnity clause" ensure that:</p><br>
                <ul>
                    <li>the amount specified here does not exceed the ammount of your PI policy - 
                            Level 1</li>
                    <li>the wording that specifies what your PI is for says, "for each and every 
                        claim or series of claims arising from the same originating or underlying 
                        cause" and nothing else - Level 1</li>
                </ul>
        {% endif %}

        {% if word15 in text %}
        <li><p>Replace "making good of defects of the Project" with "the date the Consultant last 
               performs its services in relation to the project" - Level 4</p></li>
        {% endif %}


        {% if word16 in text %}
                <li><p>Replace "on customary and usual terms and conditions prevailing for the 
                       time being in the insurance market" with "with no unusual restrictions 
                       or exclusions" - Level 2</p></li>
        {% endif %}


        {% if word17 in text %}
                <li><p>Delete "do not require the Consultant to discharge any liability before 
                       being entitled to recover from the insurers" - Level 4</p></li>
        {% endif %}


        {% if word18 in text %}
                <li><p>Delete "would not adversely affect the rights of any person to recover 
                       from the insurers under the Third Parties (Rights Against Insurers) Act 
                       2010 - Level 4</p></li>
        {% endif %}


        {% if word19 in text %}
                <li><p>Delete "settle or compromise any claim with the insurers that relates 
                       to a claim by the Beneficiary against the Consultant" - 
                       conduct of a claim should not be subject to the Beneficiary's written
                       agreement - Level 4</p></li>
        {% endif %}
        
        {% if word20 in text %}
                <li><p>Delete "by any act or omission lose or affect the Consultant's right
                       to make, or proceed with, that claim against the insurers" - 
                       conduct of a claim should not be subject to the Beneficiary's written
                       agreement - Level 4</p></li>
        {% endif %}


        {% if word21 in text %}
                <li><p>Replace "The Beneficiary may not commence any legal action against 
                       the Consultant under this agreement after 12 years from the date of 
                       making good of defects of all of the Project." with "No action may 
                       be commenced against the Consultant after 12 years following the 
                       completion of the Project under the appointment."</p></li>
        {% endif %}


        {% if word22 in text %}
                <li><p>Any clause that allows the be Beneficiary to assign the benefit of this
                        warranty should be replaced with "The benefit if this agreement may be assigned
                        on two occasions only. No further assignments should be permitted"
                </p></li>
        {% endif %}



        {% if word23 not in text %}
                <li><h4>No greater liabilit clause should be included</h4></li>
        {% endif %}


        {% if word1 in text %}
                <li><h4></h4></li>
        {% endif %}


    </ol>
    </body>
    <pre>
        <h4>{{ text }}</h4>
    </pre>
</html>